p {
  width: 700px;
  text-align: justify;
}

.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 700px;
  height: auto;
  padding-bottom: 10px;
}

#mobileview{
  width: 350px;
  height: auto;
}
